
<% kss_block '1.1' do %>
  <button class="classy$modifier_class"><span>Button (button.classy)</span></button>
  <a href="#" class="button classy$modifier_class"><span>Button (a.button.classy)</span></a>
<% end %>

<!-- 1. Buttons -->
<%= styleguide_block '1.1' do %>
  <button class="$modifier_class">Example Button</button>
<% end -%>
