<div class="header">
  {% if page.tags contains 'top-level' %}
    <a class="home-link is-active" href="/">Surface Styleguide</a>
  {% else %}
    <a class="home-link" href="/">Surface Styleguide</a>
  {% endif %}

  <ul class="nav">
    {% for pages in site.pages %}
      {% unless pages.tags contains 'ignore' %}
        <li>
          {% if page.url == /page.category.html %}
            <a class="is-active" href="/{{ pages.category }}.html">{{ pages.category }}</a>
          {% else %}
            <a href="/{{ pages.category }}.html">{{ pages.category }}</a>
          {% endif %}
        </li>
      {% endunless %}
    {% endfor %}
  </ul>

  <p>{{ page.url }} /{{ page.category }}.html</p>
</div>
