// ==========================================================================
// Base  
// ========================================================================== 

// DESC:

// This file contains basic styles that provide supplemental, application 
// specific defaults which are more useful than the generic browser 
// defaults found in _reset.scss

// TOC:

// [?1] INITIALIZERS
// [?2] ELEMENTS
// [?3] PROPRIETARY

// ========================================================================== 

// [?1] INITIALIZERS
// Just a little compass voodo to establish a consistent box model and a 
// global line-height. 

@include border-box-sizing;
@include establish-baseline;

// [?2] ELEMENTS
// Supplemental overrides for generic browser defaults found in _reset.scss 

a {
  outline: none;
}

body,
html {
  height: 100%;
}

body {
  color: $grayscale-5;
  font-family: "Klavika Web Basic", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button {
  -webkit-font-smoothing: antialiased;
}

dl,
dd,
dt {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  @include adjust-font-size-to(modular-scale(6), 2);
}

h3 {
  @include adjust-font-size-to(modular-scale(2), 1);
  font-weight: normal;
}

h4 {
  font-size: modular-scale(-2);
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

mark {
  background: transparent;
  color: $grayscale-5;
  font-weight: bold; 
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// [?3] PROPRIETARY
// Browser specific overrides.  

::-webkit-input-placeholder {
  color: $grayscale-2;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}

:-moz-placeholder,
:focus:-moz-placeholder {
  color: $grayscale-2 !important;
  font-style: italic;
}
