#grid {
  height: 100%;
  margin-left: - $container-width / 2;
  position: absolute;
    top: 0;
    left: 50%;
  width: $container-width;
}

#grid * {
  @include box-sizing(border-box);
}

#grid div.vert {
  border: solid darkturquoise;
  border-width: 0 1px;
  margin-right: $gutter-width;
  width: $column-width;
}

#grid div.vert.first-line{
  margin-left: $gutter-width;
}

#grid div.horiz{
  border-bottom: 1px dotted darkgray;
  height: $base-line-height;
  margin: 0;
  padding: 0;
}

/* Classes for multiple grids
 *
 * When using more than one grid, remember to set the numberOfGrids 
 * option in the hashgrid.js file.
 *
 * #grid.grid-1 div.vert{
 *   border-color: darkturquoise;
 * }
 * 
 * #grid.grid-2{
 *   padding: 0 160px;
 *   width: 660px;
 * }
 * 
 * #grid.grid-2 div.vert{
 *   border-color: crimson;
 * }
 * 
 */
