.i-icon {
  font-family: "SS Standard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;

  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  -webkit-font-smoothing: antialiased;
}

.i-icon--small {
  @extend .i-icon;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  line-height: 1;
  height: 1em;
  width: 1em;
}

%i-icon--x-small {
  @extend .i-icon;
  cursor: pointer;
  display: inline-block;
  font-size: modular-scale(-4);
  line-height: 1;
  height: 1em;
  width: 1em;
}

//

.i-icon--delete {
  @extend %i-icon--x-small;
  @include transition(all 0.25s ease-in-out 0s);
  color: $grayscale-1;
}

.i-icon--delete:hover {
  color: $centro-alert-1;
}

