// ==========================================================================
// Module  
// ========================================================================== 

// DESC:

// This file contains reusable "modules" that define functionally and 
// stylistically related components that can be reused across pages and 
// across applications. 

// TOC:

// [?1] BUTTONS
// [?2] LISTS
// [?3] ICONS

// ========================================================================== 

// [?1] BUTTONS

.m-button {
  @include background-image(linear-gradient(hsl(0, 0, 97%), $grayscale-0));
  @include border-radius(5px);
  @include box-shadow(0 0 2px white inset);
  border: 1px solid $grayscale-2;
  color: $grayscale-4;
  display: inline-block;
  font-size: modular-scale(-1);
  height: $base-line-height + ($base-line-height / 6);
  line-height: $base-line-height + ($base-line-height / 6);
  padding: 0 8px;
  text-decoration: none;
}

.m-button:hover {
  @include background-image(linear-gradient(white, $grayscale-0));
}

.m-button:active {
  @include background-image(none);
  background-color: $grayscale-0;
}

// [?2] LISTS
// Generic utilities that can be used to alter the layout and/or stylistic 
// treatment of lists. 

// Force list elements to render in a single horizontal line. 

.l-list-horiz {
  @include pie-clearfix;
  white-space: nowrap;
}

.l-list-horiz > li {
  float: left;
  padding-right: $gutter-width;
}

.l-list-horiz li:last-child {
  padding-right: 0;
}

// [?3] ICONS
// Classes used to render various and assorted semantic icons. 

.i-icon {
  @include transition(all 0.25s ease-in-out 0s);
  cursor: pointer;
  display: inline-block;
  font-family: "SS Standard";
  font-size: $base-font-size;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;

  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  -webkit-font-smoothing: antialiased;
}
