// ==========================================================================
// Text Utilities 
// ========================================================================== 

// TOC:

// ALIGNMENT
// COLOR
// SIZING
// STYLE
// TRUNCATION 

// ========================================================================== 

// ALIGNMENT
// Module agnostic text alignment utilities. 

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

// COLOR
// Adjust text color when not included as part of a module.

.t-alert {
  color: $centro-alert-1;
}

.t-delete {
  @extend .t-lighter;
}

.t-delete:hover {
  @extend .t-alert;
}

.t-regular {
  color: $grayscale-5;
}

.t-light {
  color: $grayscale-4;
}

.t-lighter {
  color: $grayscale-3;
}

.t-lightest {
  color: $grayscale-2;
}

// SIZING
// Override default text size inheritance for child elements.

.t-small {
  font-size: modular-scale(-1);
  line-height: 1em;
}

.t-smaller {
  font-size: 12px;
  line-height: 1em;
}

// STYLE
// Change type style without the need for additional markup.

.t-bold {
  font-weight: bold;
}

.t-mono {
  font-family: "Source Code Pro", monospace;
}

// TRUNCATION
// Prevent text from wrapping and truncate with a CSS ellipsis.

.t-truncate {
  @include ellipsis;
}
