/*
# Kalei Themes

To make sure the code demo's are un-affected by Kaleis own styles we only set a few global styles

The menu is **fixed** and the page contained simply aligns itself 300px from the left.

 */

@font-face {
  font-family: "Source Sans";
  src: url('/fonts/source-sans/sourcesanspro-light.eot');
  src: url('/fonts/source-sans/sourcesanspro-light.eot?#iefix') format('eot'), url('/fonts/source-sans/sourcesanspro-light.woff') format('woff'), url('/fonts/source-sans/sourcesanspro-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans";
  src: url('/fonts/source-sans/sourcesanspro-regular.eot');
  src: url('/fonts/source-sans/sourcesanspro-regular.eot?#iefix') format('eot'), url('/fonts/source-sans/sourcesanspro-regular.woff') format('woff'), url('/fonts/source-sans/sourcesanspro-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans";
  src: url('/fonts/source-sans/sourcesanspro-semibold.eot');
  src: url('/fonts/source-sans/sourcesanspro-semibold.eot?#iefix') format('eot'), url('/fonts/source-sans/sourcesanspro-semibold.woff') format('woff'), url('/fonts/source-sans/sourcesanspro-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SS Standard";
  src: url('/fonts/ss-standard/ss-standard.eot');
  src: url('/fonts/ss-standard/ss-standard.eot?#iefix') format('eot'), url('/fonts/ss-standard/ss-standard.woff') format('woff'), url('/fonts/ss-standard/ss-standard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Code";
  src: url('/fonts/source-code/sourcecodepro-regular.eot');
  src: url('/fonts/source-code/sourcecodepro-regular.eot?#iefix') format('eot'), url('/fonts/source-code/sourcecodepro-regular.woff') format('woff'), url('/fonts/source-code/sourcecodepro-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Code";
  src: url('/fonts/source-code/sourcecodepro-semibold.eot');
  src: url('/fonts/source-code/sourcecodepro-semibold.eot?#iefix') format('eot'), url('/fonts/source-code/sourcecodepro-semibold.woff') format('woff'), url('/fonts/source-code/sourcecodepro-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html, body, .kalei {
  height: 100% !important;
  background: #f6f4f4;
  line-height: normal;
}
body {
  background: #fff !important;
  font-family: "Source Sans", sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

.menu-items {
  width: 100%;
}

.kalei-style-menu-container {
  position: fixed;
  background: #fff;
  height: 100%;
  border-right: 1px solid #ccc;
  width: 300px;
}
.kalei-styleguide-menu {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.kalei-style-page {
  margin-left: 300px;
  padding: 20px;
  background: #f6f4f4;
}

/*
## Headings and paragraphs
```
<div class="kalei-comments">
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p class="fixie"></p>
<ul>
<li>List Item 1</li>
<li>List Item 2</li>
<li>List Item 3</li>
</ul>
</div>

```
 */

.kalei-comments > h1,
.kalei-comments > h2,
.kalei-comments > h3,
.kalei-comments > h4,
.kalei-comments > h5,
.kalei-comments > h5,
.kalei-comments > h6,
.kalei-comments > ul,
.kalei-comments > ol,
.kalei-comments > p a,
.kalei-comments > p a:visited,
.kalei-comments >  a:visited,
.kalei-comments > a,
.kalei-styleguide-menu-heading > h1,
.kalei-styleguide-menu > li > h3,
.kalei-sheet-submenu  li,
.kalei-styleguide-menu-stylesheets,
.kalei-comments > p {
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  margin: 0;
}

.kalei-comments > h2,
.kalei-comments > p,
.kalei-comments> ol {
  padding: 0 0 15px 0;
}

.kalei-comments > h2 {
  line-height: 1em;
}

.kalei-comments > p,
.kalei-comments> ol {
  line-height: 1.5;
  width: 60%;
}

.kalei-comments > pre + p {
  padding: 15px 0;
}

.kalei-comments> p a,
.kalei-comments> p a:visited {
  padding: 0;
}
.kalei-comments > iframe {
  margin-left: 10px;
  margin-top: 10px;
}
.kalei-comments > ul,
.kalei-comments> ol {
  margin-left: 20px;
}
.kalei-comments > ul,
.kalei-comments> ol,
.kalei-comments > p {
  font-size: 12px;
}

/*
## CSS and Comments Layout

These styles make sure the css code block is floated to the right correctly and the comments on the left

```
<div class="kalei-documentation">

<div class="kalei-comments-container ">
<div class="kalei-comments ">
<p>This is a test Kalei comment.</p>
</div>
</div>

</div>
```
 */

.kalei-style-page > .kalei-documentation {
  position: relative;
}
.kalei-comments-container {
  width: 100%;
  position: relative;
}



/*
## Code demos

When you use Markdown code blocks ```, Kalei automatically renders the code as HTML and beneath it shows the code block with syntax highlighting.
```
<pre>
<code>
.kalei-comments > pre > code,
.kalei-css-container > pre > code {
font-size: 11px;
opacity: 0.7;
white-space: pre-wrap;
padding: 10px;
}
</code>
</pre>
```
 */
.kalei-comments > pre > code,
.kalei-css-container > pre > code {
  font-size: 11px;
  white-space: pre-wrap;
  padding: 10px;
}

.kalei-comments > pre > code {
  padding: 0;
}

.kalei-css-container.kalei-no-css {
  display: none;
}

.kalei-comments >  pre {
  margin: 0;
  border-bottom: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  position: relative;
  padding: 20px;

  -webkit-border-radius:  0 0 3px 3px;
  -moz-border-radius:  0 0 3px 3px;
  border-radius:  0 0 3px 3px;
}

.kalei-comments > p > code {
  background: rgb(230,230,230);
  padding: 0 4px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px ;
}

.kalei-comments {
  background: #f7f7f7;
  padding: 20px;
  margin: 0 0 20px 0;
  background:
  white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
body .codedemo {
  position: relative;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAAXNSR0IArs4c6QAAAAZQTFRF+vr6////+o8bnQAAABBJREFUCB1jYPjPgBXhEAYAfr8P8bm+jEoAAAAASUVORK5CYII=);
  padding: 20px;
  border: 1px solid #ebebeb;
  font-size: 100%;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

*:not(.codedemo) .kalei-styleguide-menu-heading h1 {
  font-size: 22px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #444;
  padding-left: 20px;
}
*:not(.codedemo) .kalei-styleguide-menu-heading, .styleguide-menu-heading:visited {
  text-decoration: none;
}

*:not(.codedemo) .kalei-styleguide-menu-heading:hover {
  color: #222;
}

*:not(.codedemo) .kalei-styleguide-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kalei-styleguide-menu-stylesheets {
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background: #75eb33;
  text-shadow: 0px 0px 1px #777;
}

.kalei-styleguide-menu > li > h3 {
  color: #444;
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
  padding-left: 20px;

}
.kalei-styleguide-menu-link {
  padding: 10px 0px 10px 30px;
  display: block;
  height: 100%;
  text-decoration: none;
  color: #555;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
  position: relative;
}


.kalei-styleguide-menu-link:hover,
.kalei-styleguide-menu-link.active {
  background: #444;
  color: #ebebeb;
}

.kalei-sheet-submenu li.active {
  background: #ebebeb;
}

.kalei-sheet-submenu ul {
  margin: 0;
  padding: 0;
}
.kalei-sheet-submenu li {
  padding: 10px 10px 10px 40px;
  cursor: pointer;
  font-size: 14px;
}

