// ==========================================================================
// Base
// ==========================================================================

// DESC:

// This file contains basic styles that provide supplemental, application
// specific defaults which are more useful than the generic browser
// defaults found in _reset.scss

// TOC:

// [?1] INITIALIZERS
// [?2] ELEMENTS
// [?3] PROPRIETARY

// ==========================================================================

// [?1] INITIALIZERS
// Just a little compass voodo to establish a consistent box model and a
// global line-height.

@include border-box-sizing;
@include establish-baseline;

// [?2] ELEMENTS
// Supplemental overrides for generic browser defaults found in _reset.scss

a:link,
a:visited {
  outline: none;
  color: $centro-brand-2a;
  text-decoration: none;
}

a:hover {
  color: $centro-brand-2b;
}

body,
html {
  height: 100%;
}

body {
  color: $grayscale-5;
  font-family: "Source Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button,
input {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

dl,
dd,
dt {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

h1 {
  @include adjust-font-size-to(modular-scale(6), 2);
}

h3 {
  @include adjust-font-size-to(modular-scale(2), 1);
  font-weight: 400;
}

h4 {
  font-size: modular-scale(-1);
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

input[disabled] {
  cursor: not-allowed;
}

mark {
  background: transparent;
  color: $centro-brand-2b;
  font-weight: bold;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// [?3] PROPRIETARY
// Browser specific overrides.

// Remove IE10 input icons.

::-ms-clear,
::-ms-reveal {
  display: none;
}
