// ==========================================================================
// Fonts 
// ========================================================================== 

// TOC:

// [?1] PRIMARY
// [?2] ICON
// [?3] ACCENTS 

// ========================================================================== 

// [?1] PRIMARY
// The main workhorse typeface (used for headlines and body text) for Insight and Auth. 

// Light

$source-sans-light-woff: "source-sans/sourcesanspro-light.woff";
$source-sans-light-ttf: "source-sans/sourcesanspro-light.ttf";
$source-sans-light-eot: "source-sans/sourcesanspro-light.eot";

@include font-face("Source Sans", font-files($source-sans-light-woff, $source-sans-light-ttf), $source-sans-light-eot, 300, normal);

// Regular

$source-sans-regular-woff: "source-sans/sourcesanspro-regular.woff";
$source-sans-regular-ttf: "source-sans/sourcesanspro-regular.ttf";
$source-sans-regular-eot: "source-sans/sourcesanspro-regular.eot";

@include font-face("Source Sans", font-files($source-sans-regular-woff, $source-sans-regular-ttf), $source-sans-regular-eot, 400, normal);

// Semibold

$source-sans-semibold-woff: "source-sans/sourcesanspro-semibold.woff";
$source-sans-semibold-ttf: "source-sans/sourcesanspro-semibold.ttf";
$source-sans-semibold-eot: "source-sans/sourcesanspro-semibold.eot";

@include font-face("Source Sans", font-files($source-sans-semibold-woff, $source-sans-semibold-ttf), $source-sans-semibold-eot, 600, normal);

// [?2] ICON  
// An icon font used for all the iconography throughout Insight and Auth. 

$ss-standard-woff: "ss-standard/ss-standard.woff";
$ss-standard-ttf: "ss-standard/ss-standard.ttf";
$ss-standard-eot: "ss-standard/ss-standard.eot";

@include font-face("SS Standard", font-files($ss-standard-woff, $ss-standard-ttf), $ss-standard-eot, normal, normal);

// [?3] ACCENTS

// Source Code is monospaced typeface used to display campaign IDs. 
// The bold version shows up during searches.

// Regular

$source-code-regular-woff: "source-code/sourcecodepro-regular.woff";
$source-code-regular-ttf: "source-code/sourcecodepro-regular.ttf";
$source-code-regular-eot: "source-code/sourcecodepro-regular.eot";

@include font-face("Source Code", font-files($source-code-regular-woff, $source-code-regular-ttf), $source-code-regular-eot, 400, normal);

// Semibold

$source-code-semibold-woff: "source-code/sourcecodepro-semibold.woff";
$source-code-semibold-ttf: "source-code/sourcecodepro-semibold.ttf";
$source-code-semibold-eot: "source-code/sourcecodepro-semibold.eot";

@include font-face("Source Code", font-files($source-code-semibold-woff, $source-code-semibold-ttf), $source-code-semibold-eot, 600, normal);
