// ==========================================================================
// Fonts 
// ========================================================================== 

// TOC:

// [?1] PRIMARY
// [?2] ICON
// [?3] ACCENTS 

// ========================================================================== 

// [?1] PRIMARY
// The main workhorse typeface (used for headlines and body text) for Insight and Auth. 

// Light

$source-sans-light-woff: "source-sans/SourceSansProLight.woff";
$source-sans-light-ttf: "source-sans/SourceSansProLight.ttf";
$source-sans-light-eot: "source-sans/SourceSansProLight.eot";

@include font-face("Source Sans", font-files($source-sans-light-woff, $source-sans-light-ttf), $source-sans-light-eot, 300, normal);

// Regular

$source-sans-regular-woff: "source-sans/SourceSansProRegular.woff";
$source-sans-regular-ttf: "source-sans/SourceSansProRegular.ttf";
$source-sans-regular-eot: "source-sans/SourceSansProRegular.eot";

@include font-face("Source Sans", font-files($source-sans-regular-woff, $source-sans-regular-ttf), $source-sans-regular-eot, 400, normal);

// Bold

$source-sans-semibold-woff: "source-sans/SourceSansProSemibold.woff";
$source-sans-semibold-ttf: "source-sans/SourceSansProSemibold.ttf";
$source-sans-semibold-eot: "source-sans/SourceSansProSemibold.eot";

@include font-face("Source Sans", font-files($source-sans-semibold-woff, $source-sans-semibold-ttf), $source-sans-semibold-eot, 600, normal);

// [?2] ICON  
// An icon font used for all the iconography throughout Insight and Auth. 

$ss-standard-woff: "ss-standard/ss-standard.woff";
$ss-standard-ttf: "ss-standard/ss-standard.ttf";
$ss-standard-eot: "ss-standard/ss-standard.eot";

@include font-face("SS Standard", font-files($ss-standard-woff, $ss-standard-ttf), $ss-standard-eot, normal, normal);

// [?3] ACCENTS

// Source Code is monospaced typeface used to display campaign IDs. 
// The bold version shows up during searches.

$source-code-regular-woff: "source-code/SourceCodeProRegular.woff";
$source-code-regular-ttf: "source-code/SourceCodeProRegular.ttf";
$source-code-regular-eot: "source-code/SourceCodeProRegular.eot";

$source-code-semibold-woff: "source-code/SourceCodeProSemibold.woff";
$source-code-semibold-ttf: "source-code/SourceCodeProSemibold.ttf";
$source-code-semibold-eot: "source-code/SourceCodeProSemibold.eot";

@include font-face("Source Code", font-files($source-code-regular-woff, $source-code-regular-ttf), $source-code-regular-eot, 400, normal);
@include font-face("Source Code", font-files($source-code-semibold-woff, $source-code-semibold-ttf), $source-code-semibold-eot, 600, normal);
