// ==========================================================================
// Fonts 
// ========================================================================== 

// TOC:

// [?1] PRIMARY
// [?2] ICON
// [?3] ACCENTS 

// ========================================================================== 

// [?1] PRIMARY
// The main workhorse typeface (used for headlines and body text) for Insight and Auth. 

// Light

$source-sans-light-woff:        "source-sans/SourceSansProLight.woff";
$source-sans-light-ttf:         "source-sans/SourceSansProLight.ttf";
$source-sans-light-eot:         "source-sans/SourceSansProLight.eot";

@include font-face("Source Sans Light", font-files($source-sans-light-woff, $source-sans-light-ttf), $source-sans-light-eot, normal, normal);

// Regular

$source-sans-regular-woff: "source-sans/SourceSansProRegular.woff";
$source-sans-regular-ttf:  "source-sans/SourceSansProRegular.ttf";
$source-sans-regular-eot:  "source-sans/SourceSansProRegular.eot";

@include font-face("Source Sans", font-files($source-sans-regular-woff, $source-sans-regular-ttf), $source-sans-regular-eot, normal, normal);

// Bold

$source-sans-bold-woff:         "source-sans/SourceSansProBold.woff";
$source-sans-bold-ttf:          "source-sans/SourceSansProBold.ttf";
$source-sans-bold-eot:          "source-sans/SourceSansProBold.eot";

@include font-face("Source Sans", font-files($source-sans-bold-woff, $source-sans-bold-ttf), $source-sans-bold-eot, bold, normal);

// [?2] ICON  
// An icon font used for all the iconography throughout Insight and Auth. 

$ss-pika-woff: "ss-pika/ss-pika.woff";
$ss-pika-ttf:  "ss-pika/ss-pika.ttf";
$ss-pika-eot:  "ss-pika/ss-pika.eot";

@include font-face("SS Pika", font-files($ss-pika-woff, $ss-pika-ttf), $ss-pika-eot, normal, normal);

// [?3] ACCENTS

// Source Code is monospaced typeface used to display campaign IDs. 
// The bold version shows up during searches.

$source-code-regular-woff: "source-code/SourceCodeProRegular.woff";
$source-code-regular-ttf:  "source-code/SourceCodeProRegular.ttf";
$source-code-regular-eot:  "source-code/SourceCodeProRegular.eot";

$source-code-bold-woff:    "source-code/SourceCodeProBold.woff";
$source-code-bold-ttf:     "source-code/SourceCodeProBold.ttf";
$source-code-bold-eot:     "source-code/SourceCodeProBold.eot";

@include font-face("Source Code", font-files($source-code-regular-woff, $source-code-regular-ttf), $source-code-regular-eot, normal, normal);
@include font-face("Source Code", font-files($source-code-bold-woff, $source-code-bold-ttf), $source-code-bold-eot, bold, normal);
