// ==========================================================================
// Module  
// ========================================================================== 

// DESC:

// This file contains reusable "modules" that define functionally and 
// stylistically related components that can be reused across pages and 
// across applications. 

// TOC:

// [?1] BUTTONS
// [?2] FORMS
// [?3] FOOTER
// [?4] HEADER
// [?5] ICONS
// [?6] LISTS
// [?7] NAVIGATION
// [?8] NOTICES
// [?9] UTILITIES

// ========================================================================== 

// [?1] BUTTONS

// Defaults

.m-button {
  @include background-image(linear-gradient(hsl(0, 0, 97%), $grayscale-0));
  @include border-radius(4px);
  @include box-shadow(0 0 2px white inset);
  border: 1px solid $grayscale-2;
  color: $grayscale-4;
  display: inline-block;
  font-size: modular-scale(-1);
  height: $base-line-height + ($base-line-height / 6);
  line-height: $base-line-height + ($base-line-height / 6);
  padding: 0 8px;
  text-decoration: none;
}

.m-button:hover {
  @include background-image(linear-gradient(white, $grayscale-0));
}

.m-button:active {
  @include background-image(none);
  background-color: $grayscale-0;
}

.m-button--large {
  @extend .m-button;
  font-size: modular-scale(1);
  height: $base-line-height + ($base-line-height / 2);
  line-height: $base-line-height + ($base-line-height / 2);
  padding: 0 $gutter-width * 0.75;
}

// Colors

.m-button--primary {
  @include background-image(linear-gradient(lighten($centro-confirm-2, 8%), $centro-confirm-2));
  @include box-shadow(0 0 2px rgba(white,0.6) inset);
  border-color:  darken($centro-confirm-2, 5%);
  color: white;
  text-shadow: 0 1px 2px rgba(black, 0.3);
}

.m-button--primary:hover {
  @include background-image(linear-gradient(lighten($centro-confirm-2, 12%), $centro-confirm-2));
}

.m-button--primary:active {
  @include background-image(linear-gradient($centro-confirm-2, lighten($centro-confirm-2, 8%)));
}

// [?2] FORMS

.m-form__field {
  line-height: $base-line-height * 1.5;
  margin-bottom: $base-line-height;
}

.m-form__field > * {
  line-height: inherit;
}

.m-form__input {
  @include box-shadow(inset 0 1px 4px rgba(black, 0.125));
  border: 1px solid $grayscale-2;
  height: $base-line-height * 1.5;
  line-height: $base-line-height; 
  padding: 2px ($gutter-width / 2) 0;
  width: 100%;
}

.m-form__input:focus {
  border-color: $centro-brand-2b; 
  outline: 0;
}

.m-form__label--hidden {
  position: absolute;
  visibility: hidden;
}

// [?3] FOOTER
// This implementation of the footer currently serves as a debugging
// line inside of insight.

.m-footer {
  color: $grayscale-1;
  font-size: modular-scale(-1);
  padding: 0 8px;
  position: fixed;
    bottom: 0;
  text-align: right;
  width: 100%;
}

// [?4] HEADER

.m-header {
  @include adjust-leading-to(2);
  background: $centro-brand-1a;
  border-bottom: 1px solid darken($centro-brand-1a, 5%);
  height: $base-line-height * 2;
  line-height: $base-line-height * 2;
  position: relative;
  z-index: 10;
}

.m-header > a:hover {
  border-bottom: none;
}

.m-logo {
  background: image-url("logo.svg") no-repeat left 7px;
  background-size: contain;
  display: inline-block;
  height: 0;
  overflow: hidden;
  margin-left: $gutter-width;
  padding: ($base-line-height * 2) 0 0 0 !important;
  width: 120px;
}

// [?5] ICONS
// Classes used to render various and assorted semantic icons. 

.i-icon {
  @include transition(all 0.25s ease-in-out 0s);
  cursor: pointer;
  display: inline-block;
  font-family: "SS Pika";
  font-size: $base-font-size;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  padding-top: 2px !important; // Align to vertical middle.

  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  -webkit-font-smoothing: antialiased;
}

// [?6] LISTS
// Generic utilities that can be used to alter the layout and/or stylistic 
// treatment of lists. 

// Force list elements to render in a single horizontal line. 

.l-list-horiz {
  @include pie-clearfix;
  white-space: nowrap;
}

.l-list-horiz > li {
  float: left;
  padding-right: $gutter-width;
}

.l-list-horiz li:last-child {
  padding-right: 0;
}

// [?7] NAVIGATION

.m-nav {
  @extend .l-list-horiz;
  line-height: $base-line-height * 2;
  height: $base-line-height * 2;
}

.m-nav > li {
  padding: 0 !important;
  position: relative;
}

.m-nav > li > a {
  @include link-colors(white);
  @include transition(all 0.1s 0.1s);
  border-left: 1px solid darken($centro-brand-1a, 5%);
  display: block;
  height: $base-line-height * 2;
  padding: 0 $gutter-width;
  text-shadow: 0 1px 2px rgba(black, 0.3);
}

.m-nav > li > a:hover {
  background: darken($centro-brand-1a, 2.5%);
  border-bottom: none;
}

.m-nav > li > a::before {
  @extend .i-icon;
  content: attr(data-icon);
  padding-right: 8px;
  position: relative;
  vertical-align: middle;
}

.m-nav__sub-menu {
  position: absolute;
    top: 66px;
}

.m-nav__sub-menu.settings {
    right: -18px;
  width: ($column-width * 2) + $gutter-width;
}

// Account for :hover gap between trigger and target.

.m-nav__sub-menu > li:first-child::before {
 content: '';
 height: 50%;
 position: absolute;
  left: 0;
  top: -20px;
 width: 100%;
 z-index: -1;
}

// [?8] NOTICES
// This classes provide styles for various types of global messages 
// (alerts, confirmation messages, notices, etc.) 

// Sets up a window for the notice to position itself inside of.

.m-notice-window {
  position: absolute;
    top: 40px;
  height: $base-line-height + ($base-line-height / 3);
  text-align: center;
  width: 100%;
  z-index: 100;
}

// Default notice styles.

.m-notice > p {
  background: $centro-alert-2;
  border: 1px solid darken($centro-alert-2, 25%);
  display: inline-block;
  font-size: modular-scale(-1);
  height: $base-line-height + ($base-line-height / 3);
  line-height: $base-line-height + ($base-line-height / 3);
  overflow: hidden;
  padding: 0 ($gutter-width / 2);
  position: relative;
}

.m-notice > p::before {
  @extend .i-icon;
  display: none;
  font-size: $base-font-size;
  position: absolute;
    left: 10px;
    top: 1px;
}

.m-notice > p > a {
  color: $grayscale-3;
  display: none;
  padding-left: $gutter-width / 2;
}

.m-notice > p > a:hover {
  color: $grayscale-5;
}

// Custom notice styles.

.m-notice--alert > p,
.m-notice--confirm > p {
  @extend .m-notice;
  color: white;
  padding-left: 36px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.m-notice--alert > p::before,
.m-notice--confirm > p::before {
  display: block;
}

.m-notice--alert > p {
  background: lighten($centro-alert-1, 5%);
  border-color: darken($centro-alert-1, 20%);
}

.m-notice--alert > p::before  {
  content: 'delete';
}

.m-notice--alert > p > a {
  color: $grayscale-1;
  display: inline;
}

.m-notice--alert > p > a:hover {
  color: white; 
}

.m-notice--confirm > p {
  background: darken($centro-confirm-1, 15%);
  border-color: darken($centro-confirm-1, 30%);
}

.m-notice--confirm > p::before {
  content: 'check';
}

// [?8] UTILITIES

// Tooltip

.m-tooltip {
  @include box-shadow(0 3px 6px rgba(black, 0.1));
  @include opacity(0);
  @include transition(all ease 0.1s 0.1s);
  background: white;
  border: 1px solid $grayscale-1;
  visibility: hidden;
  z-index: 99;
}

.m-trigger:hover .m-tooltip,
.m-tooltip:hover {
  @include opacity(1);
  visibility: visible;
}

.m-tooltip > li {
  border-bottom: 1px solid $grayscale-0;
  line-height: 1em;
  padding: ($gutter-width / 2);
}

.m-tooltip > li:last-child {
  border-bottom: none;
}

.m-tooltip::after {
  content: "";
  display: block;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid darken($grayscale-1, 6%);
  height: 0;
  margin-left: -12px;
  position: absolute;
    top: -12px;
    left: 50%;
  width: 0;
  z-index: 100;
}

.m-tooltip::before {
  content: "";
  display: block;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid white;
  height: 0;
  margin-left: -11px;
  position: absolute;
    top: -11px;
    left: 50%;
  width: 0;
  z-index: 101;
}

// Triggers

.m-nav .m-trigger > a {
  cursor: pointer;
}

.m-nav .m-trigger:hover > a {
  background: darken($centro-brand-1a, 2.5%);
}
