.onoffswitch {
  display: inline-block;
  margin-left: 5px;
  overflow: hidden;
  position: relative; 
  top: 8px;
  width: 55px;

  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  @include border-radius(5px);
  border: 1px solid $grayscale-2;
  cursor: pointer;
  display: block;
  height: 24px;
  overflow: hidden;
}

.onoffswitch-inner {
  @include transition(margin-left 0.25s ease-in 0s);
  height: 24px;
  margin-left: -100%;
  width: 200%;
}

.onoffswitch-inner > div {
  color: white;
  float: left;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  text-transform: uppercase;
  width: 50%;
}

.onoffswitch-inner .onoffswitch-active {
  background-color: lighten($grayscale-2, 8%);
  color: #FFFFFF;
}

.onoffswitch-inner .onoffswitch-active a {
  padding-left: 7px;
  color: #FFFFFF;

  -webkit-font-smoothing: subpixel-antialiased;
}

.onoffswitch-inner .onoffswitch-inactive {
  background-color: hsl(0, 0, 97%);
  text-align: right;
}

.onoffswitch-inner .onoffswitch-inactive a {
  padding-right: 5px;
  color: $grayscale-3;
}

.onoffswitch-switch {
  @extend .m-button;
  @include border-radius(5px);
  @include transition(right 0.25s ease-in 0s);
  cursor: pointer;
  height: 24px;
  position: absolute;
    bottom: 0;
    right: 31px;
    top: 0;
  width: 24px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

//

.antiscroll-scrollbar {
  z-index: 1000;
}

.m-button[disabled=disabled] {
  color: $grayscale-1;
}

.m-loading-indicator {
  visibility: hidden;
  @include opacity(0);
  @include transition(all 1s);
  background-color: white;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 48px;
  z-index: 1001;
}

.m-loading-indicator.s-is-visible {
  visibility: visible;
  @include opacity(1);
}

.m-loading-indicator > p {
  @include adjust-font-size-to(modular-scale(6), 2);
  font-weight: bold;
  margin-top: - $base-line-height;
  position: absolute;
    top: 50%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.m-loading-indicator img {
  height: 48px;
  margin-right: 10px;
  vertical-align: middle;
  width: 48px;
}

.m-placements--mapped__item {
  @include transition(background-color 1s);
}

.m-placements--mapped__item.s-is-highlighted {
  background-color: $centro-alert-2;
}
