// ==========================================================================
// Text  
// ========================================================================== 

// DESC:

// This file contains low level classes that can be used to alter the 
// alignment, color, size and stylistic treatment of text nodes.

// TOC:

// [?1] ALIGNMENT
// [?2] COLOR
// [?3] LINE-HEIGHT
// [?4] SIZING
// [?5] STYLE
// [?6] TRUNCATION 

// ========================================================================== 

// [?1] ALIGNMENT
// Module agnostic text alignment utilities. 

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

// [?2] COLOR
// Adjust text color when not included as part of a module.

.t-alert {
  color: $centro-alert-1;
}

.t-delete {
  color: $grayscale-3;
}

.t-delete:hover {
  color: $centro-alert-1;
}

.t-regular {
  color: $grayscale-5;
}

.t-light {
  color: $grayscale-4;
}

.t-lighter {
  color: $grayscale-3;
}

.t-lightest {
  color: $grayscale-2;
}

// [?3] LINE-HEIGHT

.t-body-text {
  line-height: 21px;
}

// [?4] SIZING
// Override default text size inheritance for child elements.

.t-large {
  font-size: modular-scale(1) !important;
}

.t-small {
  font-size: modular-scale(-1) !important;
  line-height: 1em;
}

.t-smaller {
  font-size: 12px !important;
  line-height: 1em;
}

// [?5] STYLE
// Change type style without the need for additional markup.

.t-thin {
  font-family: "Source Sans Light", sans-serif;
  font-weight: normal;
}

.t-bold {
  font-weight: bold;
}

.t-mono {
  font-family: "Source Code", monospace;
}

// [?6] TRUNCATION
// Prevent text from wrapping and truncate with a CSS ellipsis.

.t-truncate {
  @include ellipsis;
}
